<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <title>Concha Drum Lab</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Corben:700|Pacifico" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/frontend.css}"/>
</head>
<body id="app-layout">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" th:href="@{/lab}"><i class="fa fa-music" aria-hidden="true"></i> Concha Drum Lab</a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li><a th:href="@{/lab}">Drum Lab</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a href="https://github.com/srang/music-hack-backend" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Source</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div>
        <h2><img height="50" width="50" th:src="@{/img/peels.jpg}" /> Drum Lab by the Orange-Peels</h2>
        <div class="row">
            <div class="col-6-md">
                <div class="row">
                    <h4>Vocals</h4>
                    <div class="btn-group">
                        <button class="btn btn-default concha">
                            <video width="200" height="240" preload="metadata" th:src="@{/img/concha.mp4}"></video>
                        </button>
                        <button class="btn btn-default cha">
                            <video width="200" height="240" preload="metadata" th:src="@{/img/cha.mp4}"></video>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <h4>Percussion</h4>
                    <div class="btn-group">
                        <button class="btn btn-default shaker">
                            <video width="200" height="240" preload="metadata" th:src="@{/img/shaker.mp4}"></video>
                        </button>
                        <button class="btn btn-default kick">
                            <video width="200" height="240" preload="metadata" th:src="@{/img/kick.mp4}"></video>
                        </button>
                        <button class="btn btn-default snare1">
                            <video width="200" height="240" preload="metadata" th:src="@{/img/snare1.mp4}"></video>
                        </button>
                        <button class="btn btn-default snare2">
                            <video width="200" height="240" preload="metadata" th:src="@{/img/snare2.mp4}"></video>
                        </button>
                        <button class="btn btn-default yoyobass">
                            <video width="200" height="240" preload="metadata" th:src="@{/img/bass.mp4}"></video>
                        </button>
                    </div>
                </div>
            </div><!--
            --><div class="col-6-md">
                <div id="vid" />
            </div>
        </div>
    </div>
</div>

<!-- Footer -->

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"/>
<script src="js/lab.js"/>
</body>
</html>
